@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
  font-family: 'Poppins';
  overflow: hidden;
}

.chakra-popover__popper {
  z-index: 100000 !important;
}
